.bg {
  background-image: url("/public/images/Image\ 34.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: contain;
  height: 115vh;
  width: 100vw;
}
.slither {
  position: relative;
  top: 4%;
  left: 45%;
  height: 10vh;
}
.info {
  height: 90vh;
  width: 50vw !important;
  position: relative;
  width: 10vw;
  margin: auto;
  top: 10%;
  background: rgba(255, 255, 255, 0.212);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.heading {
  text-align: center !important;
  color: white;
  font-weight: bolder;
  font-size: large;
}
.line {
  position: relative;
  width: 45vw;
  top: -2%;
  left: 4%;
}
.ice {
  width: 40%;
  position: relative;
  left: 4%;
  border-radius: 15px;
  border: 2px solid white;
  padding: 5px;
}
.fire {
  padding: 5px;
  width: 40%;
  position: relative;
  left: 7%;
  border-radius: 15px;
}
.ammount {
  color: white;
  padding: 2px;
  margin-left: 1.7rem;

  width: fit-content;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.inputammount {
  outline: none;
  width: 85%;
  height: 8vh;
  margin-left: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  display: flex;
}
.inputusername {
  color: white;
  outline: none;
  width: 80%;
  height: 6vh;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}
::placeholder {
  color: white;
}
.save {
  position: relative;
  top: -7%;
  left: 70%;
  height: 4.5vh;
  z-index: 1;
  border-radius: 15px;
  background-color: purple;
  color: white;
  outline: none;
  border: none;
  padding: 3px;
  border: none;
  width: 18%;
  padding: 5px;
}
.playnow {
  color: rgb(6, 6, 85);
  
  font-weight: bolder;
  font-size: 0.8rem;
  background-color: white;
  height: 8vh;
  width: 15vw;
  padding: 3px;
  border-radius: 25px;
  cursor: pointer;
  border-color: transparent;
  position: relative ;
  top:5%;
  left: 35%;
  transition: all 0.2s ease-in-out;
}

.playnow:hover {
  box-shadow: 0 5px 15px white;
}
